.editblog {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 10px 10px 20px #ccc;
    border-radius: 10px;
    font-family: 'Roboto Mono',monospace;
}

table {
    border: none;
    width: 100%;
}

table caption {
    user-select: none;
}

td {
    padding: 10px 15px;
}

.editblog table td input,
.editblog table td textarea {
    width: 100%;
    border: 2px solid  #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.editblog table td input:focus,
.editblog table td textarea:focus {
    border: 2px solid #ee6e73;
    outline: none;
}

.editblog table td textarea {
    resize: none;
    height: 100px;
}

.editblog table td label {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.editblog table td button {
    border: none;
    background: none;
    font-size: large;
    width: 220px;
    background-color: black;
    color: white;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
}

.editblog table td button:hover {
    background-color: #ccc;
    color: black;
}

.editblog table td button:focus {
    border: 1px solid black;
}

.editblog table .center {
    text-align: center;
}